<div class="main-visual-user">
   <h1 class="main-title">
     SIGNUP
   </h1>
   
   <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>
   
    <div class="field0">
      <%= f.label :名前（必須） %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", size: 20 %>
    </div>
    
    <div class="field0">
      <%= f.label :年齢 %><br />
      <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
    </div>
    
     <div class="field0">
      <%= f.label :性別 %><br />
      <%= f.label :男性 %>
      <%= f.radio_button :gender, :男性 %>
      <%= f.label :女性 %>
      <%= f.radio_button :gender, :女性 %>
    </div>
    
     <div class="field0">
      <%= f.label :バイク %><br />
      <%= f.text_field :bike, autofocus: true, autocomplete: "bike", size: 10 %>
    </div>
    
    <div class="field0">
      <%= f.label :メールアドレス（必須） %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 40 %>
    </div>
    
    <div class="field0">
      <%= f.label :パスワード（必須） %>
      <% if @minimum_password_length %>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", size: 20 %>
    </div>
    
    <div class="field0">
      <%= f.label :パスワード（確認用） %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", size: 20 %>
    </div>
    
    <div class="actions">
      <%= f.submit "新規登録", class: 'signup-btn'  %>
      <i class="fas fa-user-plus"></i>
      アカウントお持ちの方
      <%= link_to "ログイン", new_user_session_path, class: 'signin-btn' %>
      <i class="fas fa-sign-in-alt"></i>
    </div>
  <% end %>
</div>
