<% users.each do |user| %>
<!--ユーザーカード-->
<div class="index-user-card">
  <div class="index-user-box">
    <div class="index-user-avater">
     <% if user.avater? %>
        <%= image_tag user.avater.thumb.url, class: "user-avater-post" %>
     <% else %>
        <%= image_tag asset_path("default.jpg"), :size => '70x70' %>
     <% end %>
    </div>
    <!--ユーザーネーム-->
    <div class="index-user-name">
      <%= link_to user_path(user.id), class: "index-user-font" do %>
      <i class="fas fa-user"></i><%= user.name %>
    </div>
    <!--プロフィールバイク名-->
    <div class="index-user-bike">
      <i class="fas fa-motorcycle"></i><%= user.bike %>
    </div>
  </div>

</div>

<% end %>
<% end %>