<h1 class="show-user-title">
   USERS
</h1>
<div class="user-search">
    <!----検索機能-->
    <%= search_form_for @q do |f| %>
    <%= f.label :name, "ユーザー名検索" %>
    <%= f.search_field :name_cont %>
    <%= f.label :bike, "バイク名で検索" %>
    <%= f.search_field :bike_cont %>
    <%= f.submit "検索" %>
    <% end %>
</div>

<%= render 'users/user_form', users: @users %>