<p> 名前: <%= @user.name %></p>
<p>年齢: <%= @user.age %></p>
<p>性別: <%= @user.gender %></p>
<p>好きなバイク: <%= @user.bike %></p>
<p>自己紹介: <%= @user.profile %></p>
<p><%= link_to "フォロー数", mypage_path %>:<%= current_user.follower.count %></p>
<p>フォロワー数: <%= current_user.followed.count %></p>

<% if @user.id == current_user.id %>

<% else %>
 <% if @isRoom == true %>
 <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
 <% else %>
 <%= form_for @room do |f| %>
 <%= fields_for @entry do |e| %>
 <%= e.hidden_field :user_id, :value=> @user.id %>
 <% end %>
 <%= f.submit "チャットを始める" %>
 <% end %>
 <% end %>
 <% end %>

<div id="follower_button">
 <%= render partial: 'users/follower', locals: {user: @user} %>
 </div>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <p><%= link_to "退会する", unsubscribe_path(@user) %></p>
  <% end %>
