<% if @post_comments.present? %>
<% @post.post_comments.each do |post_comment| %>
<div class="comment-card">
    <div class="comment-user-name">
        <%= link_to user_path(post_comment.user) do %>
        <%= post_comment.user.name %>
        <% end %>
    </div>
    <div class="comment-user-avater">
        <% if @post.user.avater? %>
        <%= image_tag @post.user.avater.thumb.url, class: "user-avater-comment" %>
        <% else %>
        <%= image_tag "/assets/default.jpg", :size => '100x100' %>
        <% end %>
    </div>
    <div class="comment-day">
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    </div>
    <% if post_comment.user == current_user %>
    <div class="comment-delete">
        <i class="fas fa-backspace"></i>
        <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), remote: :true,  method: :delete %>
    </div>
    <% end %>
    <div class="comment-text">
        <%= post_comment.comment %>
    </div>
</div>
<% end %>
<div class="pagenate">
<%= paginate @post_comments %>
</div>
<% else %>
<p>コメントはありません</p>
<% end %>

