<h1 class="index-title">
  BIKES
</h1>

<div class="search-form">
  <%= search_form_for @q do |f| %>
    <%= f.label :title, "タイトル" %>
    <%= f.search_field :title_cont %>
    <%= f.label :post_bike, "バイクタイトル" %>
    <%= f.search_field :post_bike_cont %>
    <%= f.submit "検索" %>
  <% end %>
 </div>

 <%= render 'posts/post_form' %>

