<h1 class="post-top">
 BEST BIKE
</h1>
<!--検索機能を導入-->
<% @all_ranks.each do |post| %>
   <!--投稿カード-->
   <div class="photo-card">
     <!--画像場所-->
     <div class="pohoto-background">
       <%= link_to post_path(post.id) do %>
         <%= attachment_image_tag post, :image, class: "image-size" %>
       <% end %>
     </div>
     <!--画像情報表示場所-->
     <div class="photo-details">
       <div class="photo-user-icon">
         <% if post.user.avater? %>
           <%= image_tag post.user.avater.thumb.url, class: "user-avater-post" %>
         <% else %>
           <%= image_tag "/assets/default.jpg", :size => '70x70' %>
         <% end %>
       </div>
       <!--タイトル-->
       <h3 class="photo-title">
         <%= post.title.truncate(13) %>
       </h3>
       <!--名前-->
       <span class="photo-author">
         By<%= link_to user_path(post.user) do %>
           <%= post.user.name %>
         <% end %>
         <!--説明文-->
         <p class="photo-text">
           <%= post.post_profile.truncate(88) %>
         </p>
       </span>
       <!--リアクション、バイク名-->
       <div class="photo-meta">
         <div class="photo-bike">
           <h6>
             <%= post.post_bike %>
           </h6>
         </div>
         
         <div class="reaction">
           <h6>
             リアクション
           </h6>
           <ul>
             <li>
               <!--コメント数-->
               <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
             </li>
             <li>
               <!--いいねボタン-->
               <div id="favorite_button_<%=post.id%>">
                 <%= render partial: 'favorites/favorite-btn', locals: {post: post} %>
               </div>
             </li>
          </ul>
        </div>
     </div>
     <!--タグ付け-->
     <div class="photo-tags">
       <h6>
         タグ
       </h6>
       <ul>
         <%= render 'posts/tag_list', tag_list: post.tag_list %>
       </ul>
     </div>
     
    </div>
  </div>
 <% end %>