<!DOCTYPE html>
<html>
   <head>
     <title>Bike&Like</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <footer>
      
    </footer>
</html>
<%= yield %>